
body{
	background-color: black;
}


.navbar {
	background-color: black;
	border: none;
}

.navbar-brand {
	padding-top: 10px;
}

.gif {
	max-width: 300px;
	max-height: 300px;
	margin: 5px 2px;
	border: 2px solid white;
}


.btn {

	margin: 2px 5px;
}