
/*Document-wide************************************/
body{
	background-color: black;
	color: white;
	font-family: 'Droid Sans', sans-serif;

}

hr {
	margin: 3px 0;
}

.container {
	box-sizing: border-box;
}

/* Nav *********************************************/
.navbar {
	background-color: black;
	border: none;
}

.navbar-brand {
	padding-top: 10px;
	font-size: 24px;
	color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

/* Movie Buttons **********************************/
#buttonDiv {
	margin-bottom: 2%;
}

.btn {
	font-size: 18px;
	margin: 2px 5px;
}

#buttonContainer div{
	display: inline-block;
	position: relative;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	text-shadow: none;

}

.buttonDiv {
	background-color: #66ccff;
	/*text-shadow: 2px 2px 2px #000;*/
	color: #000;
	margin-bottom: 15px;
}

.movie:hover {
	text-shadow: none;
	color: white;
}

.closeButton {
	margin-left: 5px;
	color: #333;
}

.closeButton:hover{
	color:white;
}


/* Gifs **********************************************/
#gifDiv {
	text-align: left;
}

.gifAndRating {
	color: white;
	max-width: 320px;
	max-height: 320px;
	margin-top: 30px;
	margin-right: 10px;
	display: inline-block;
	position: relative;
}

.gif {
	max-width: 300px;
	height: 169px;
	margin: 15px 2px 45px 2px;
	border: 2px solid white;
}

.rating {
	color: white;
	font-size: 18px;
	position: absolute;
	top: -20px;
	margin: 0;
	width: 100%;
	font-weight: bold;
}

/* Movie Data ******************************************/

#movieDataDiv {
	font-size: 22px;
}

#titleDiv {
	margin-top: 1%
}
#releaseDiv p {
	margin-bottom: 0;
}

#plotDiv {
	margin-top: 13px;
}
